In [2]:
import torch
import torch.nn as nn
import torch.optim as optim
from torch.utils.data import DataLoader
from torchvision import datasets, transforms

In [3]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder

In [4]:
df1=pd.read_csv('/content/indian_engineering_student_placement.csv')
df2=pd.read_csv('/content/placement_targets.csv')

In [5]:
#Merged both
df=pd.merge(df1,df2,on='Student_ID')

In [6]:
df.tail()
df['placement_status'].value_counts()
df.columns.value_counts()

Student_ID                     1
gender                         1
branch                         1
cgpa                           1
tenth_percentage               1
twelfth_percentage             1
backlogs                       1
study_hours_per_day            1
attendance_percentage          1
projects_completed             1
internships_completed          1
coding_skill_rating            1
communication_skill_rating     1
aptitude_skill_rating          1
hackathons_participated        1
certifications_count           1
sleep_hours                    1
stress_level                   1
part_time_job                  1
family_income_level            1
city_tier                      1
internet_access                1
extracurricular_involvement    1
placement_status               1
salary_lpa                     1
Name: count, dtype: int64

In [7]:
df.drop(columns=['Student_ID','salary_lpa'],axis=1)
df['placement_status'] = df['placement_status'].map({'Placed': 1, 'Not Placed': 0})
df.head()

,Student_ID,gender,branch,cgpa,tenth_percentage,twelfth_percentage,backlogs,study_hours_per_day,attendance_percentage,projects_completed,...,certifications_count,sleep_hours,stress_level,part_time_job,family_income_level,city_tier,internet_access,extracurricular_involvement,placement_status,salary_lpa
0,1,Male,ECE,8.74,74.0,75.0,0,3.8,71.1,7,...,5,6.5,8,Yes,Medium,Tier 2,Yes,Medium,1,14.95
1,2,Female,ECE,7.80,75.3,69.7,0,6.3,69.5,5,...,1,7.1,8,Yes,Medium,Tier 3,Yes,Low,1,14.91
2,3,Female,IT,6.95,62.8,68.3,0,1.5,62.5,8,...,3,6.1,2,No,Low,Tier 2,Yes,High,1,17.73
3,4,Male,ECE,7.46,57.9,51.4,1,4.7,64.6,6,...,2,7.3,7,No,Medium,Tier 1,Yes,Low,1,14.52
4,5,Male,IT,6.86,61.3,73.5,2,5.2,75.9,3,...,1,6.0,7,No,Medium,Tier 1,Yes,Medium,1,15.91

In [8]:
X=df.drop(columns=['placement_status','Student_ID','salary_lpa'],axis=1)
y=df['placement_status']
#

In [9]:
X=pd.get_dummies(X,drop_first=True)

In [10]:
X.head()

,cgpa,tenth_percentage,twelfth_percentage,backlogs,study_hours_per_day,attendance_percentage,projects_completed,internships_completed,coding_skill_rating,communication_skill_rating,...,branch_IT,branch_ME,part_time_job_Yes,family_income_level_Low,family_income_level_Medium,city_tier_Tier 2,city_tier_Tier 3,internet_access_Yes,extracurricular_involvement_Low,extracurricular_involvement_Medium
0,8.74,74.0,75.0,0,3.8,71.1,7,3,4,2,...,False,False,True,False,True,True,False,True,False,True
1,7.80,75.3,69.7,0,6.3,69.5,5,1,3,4,...,False,False,True,False,True,False,True,True,True,False
2,6.95,62.8,68.3,0,1.5,62.5,8,2,5,1,...,True,False,False,True,False,True,False,True,False,False
3,7.46,57.9,51.4,1,4.7,64.6,6,2,3,1,...,False,False,False,False,True,False,False,True,True,False
4,6.86,61.3,73.5,2,5.2,75.9,3,3,2,5,...,True,False,False,False,True,False,False,True,False,True

In [11]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

In [12]:
Scaler=StandardScaler()
X_tain=Scaler.fit_transform(X_train)
X_test=Scaler.transform(X_test)

In [13]:
X_tain.shape

(4000, 28)

In [14]:
X_train_torch=torch.tensor(X_tain,dtype=torch.float32)
X_test_torch=torch.tensor(X_test,dtype=torch.float32)

#convert Y_train into first nd array then it convert it into pytorch
y_train_tensor = torch.tensor(y_train.values, dtype=torch.float32)
y_test_tensor  = torch.tensor(y_test.values, dtype=torch.float32)

In [15]:
X_test_torch.shape

torch.Size([1000, 28])

In [16]:
y_train_tensor.shape

torch.Size([4000])

In [27]:
from torch.utils.data import TensorDataset, DataLoader

train_dataset = TensorDataset(X_train_torch, y_train_tensor)
test_dataset  = TensorDataset(X_test_torch, y_test_tensor)

train_loader = DataLoader(train_dataset, batch_size=32, shuffle=True)
test_loader  = DataLoader(test_dataset, batch_size=32, shuffle=False)

In [18]:
import torch.nn as nn
class PlacementPredictor(nn.Module):

  def __init__(self,input_size):

    #import
    super().__init__()
    self.fc1=nn.Linear(input_size,64)
    self.fc2=nn.Linear(64,32)
    self.fc3 = nn.Linear(32, 1)

    self.relu=nn.ReLU()
    self.sigmoid=nn.Sigmoid()

  def forward(self,x):
    x = self.relu(self.fc1(x))
    x = self.relu(self.fc2(x))
    x = self.sigmoid(self.fc3(x))
    return x

In [19]:
import torch.optim as optim

model=PlacementPredictor(input_size=X_tain.shape[1])

criterion = nn.BCELoss()

optimizer = optim.Adam(model.parameters(), lr=0.001)

In [29]:
epochs = 100

for epoch in range(epochs):
    epoch_loss = 0.0

    for X_batch, y_batch in train_loader:
        optimizer.zero_grad()

        outputs = model(X_batch)
        loss = criterion(outputs.squeeze(), y_batch)

        loss.backward()
        optimizer.step()

        epoch_loss += loss.item()

    if (epoch + 1) % 10 == 0:
        print(f"Epoch [{epoch+1}/{epochs}], Loss: {epoch_loss:.4f}")

Epoch [10/100], Loss: 0.0617
Epoch [20/100], Loss: 0.1805
Epoch [30/100], Loss: 0.0868
Epoch [40/100], Loss: 0.0514
Epoch [50/100], Loss: 0.0315
Epoch [60/100], Loss: 0.0187
Epoch [70/100], Loss: 0.0114
Epoch [80/100], Loss: 0.0059
Epoch [90/100], Loss: 0.0032
Epoch [100/100], Loss: 0.0016

In [24]:
with torch.no_grad():
    y_pred = model(X_test_torch)
    y_pred_class = (y_pred >= 0.5).float()

accuracy = (y_pred_class.squeeze() == y_test_tensor).float().mean()
print("Test Accuracy:", accuracy.item())

Test Accuracy: 0.8840000033378601

In [30]:
correct = 0
total = 0

with torch.no_grad():
    for X_batch, y_batch in test_loader:
        outputs = model(X_batch)
        preds = (outputs.squeeze() >= 0.5).float()

        total += y_batch.size(0)
        correct += (preds == y_batch).sum().item()

accuracy = correct / total
print("Test Accuracy:", accuracy)

Test Accuracy: 0.841